.name{
    background-color: #131f33;
    color: white;
    border-bottom: 1px solid gray;
  
}
.name:hover{
  border-bottom: yellow solid 2px;
 
}
@media only screen and (max-width: 600px) {
  .name{
    
    
    width: 100%;
  
}

}