

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.card{
  height: 600px;
}

.card-body{
  z-index: 4;
  height: 400px;

}

.card-img{
  z-index: 2;
  height: 200px;
  overflow: hidden;

}
.card-img img{
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.card-img img:hover{
  transform: translateY(-80%);
}
.card-img img{
  transition: transform 3s ease-in-out;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
